<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/polyfill.js"></script>
    <link rel="stylesheet" href="../css/login.css">
    <link rel="icon" href="https://cdn.web-global.fds.api.mi-img.com/mcfe--mi-account/static/favicon_new.ico">
    <script src="../npmthreemodule/jquery.min.js"></script>
</head>
<body>
    
        <div id="pic">
            <img src="https://cnbj1.fds.api.xiaomi.com/mcfe-pieces/account/banner.png" alt="">
        </div>
        @include('logreg.html')
            
              <form>
                <p>
                  <a class='active' href="./login.html">登录</a>
                  <a href="./register.html">注册</a>
                </p>
                <span class="error"></span>
                <label>
                  用户名 : <input class="username" type="text">
                </label>
                <label>
                  密码 : &emsp;<input class="password" type="text">
                </label>
                <label>
                  <input style="width: 80px;" type="text" value="欢迎回来" disabled>
                </label>
                <label>
                  <input style="margin-left: 200px;width: 170px;" type="text" value="Best Wishes To U!" disabled>
                </label>
                <button>登录</button>
            </form>
        </div>
    <script src="../js/login.js"></script>
</body>
</html>