<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/polyfill.js"></script>
    <link rel="stylesheet" href="../css/register.css">
    <link rel="icon" href="https://cdn.web-global.fds.api.mi-img.com/mcfe--mi-account/static/favicon_new.ico">
    <script src="../npmthreemodule/jquery.min.js"></script>
</head>
<body>
    
        <div id="pic">
            <img src="https://cdn.web-global.fds.api.mi-img.com/mcfe--mi-account/static/static/media/banner.4994397e.jpg" alt="">
        </div>
        @include('logreg.html')
            
              <form>
                  <p>
                    <a href="./login.html">登录</a>
                    <a class='active' href="./register.html">注册</a>
                  </p>
                  <span class="error"></span>
                  <label>
                    用户名 : &emsp;<input class="username" type="text">
                  </label>
                  <label>
                    密码 : &emsp;&emsp;<input class="password" type="text">
                  </label>
                  <label>
                    确认密码 : <input class="rpassword" type="text">
                  </label>
                  <label>
                    昵称 : &emsp;&emsp;<input class="nickname" type="text">
                  </label>
                  <button>注册</button>
            </form>
        </div>
    <script src="../js/register.js"></script>
</body>
</html>