<div class="@type1 page">
    <div class="contain">
        <div class="@type2 pagelist">
            手机专区
            <div class="func">
                <div class="sort">
                    <ul class="right">
                      <li data-method="ASC" class="@sort active">综合升序</li>
                      <li data-method="DESC" class="@sort">综合降序</li>
                    </ul>
                </div>
                <div class="@type1 pagenation">
                      <span class="left disable">&lt;</span>
                      <span class="total">1 / 100</span>
                      <span class="right">&gt;</span>
                      <input class="goto" type="text" value="1">
                      <button class="go">跳转</button>
                </div>
            </div>
        </div>
      <!-- 手机列表主体内容 -->
      <ul class="@type3">
        <!-- JS 渲染 -->
      </ul>
    </div>
</div>