@import "./module/base.scss";
@import "./module/mixin.scss";
@import "./module/variable.scss";


.contain{
    @include center_block;
}
header{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: $headerColor;
    > .contain{
        display: flex;
        justify-content: space-between;
        > div{
            display: flex;
            > p{
                display: none;
                > a,span{
                    padding-left: 10px;
                }
                > button{
                    padding: 10px;
                    margin-left: 10px;
                }
            }
            > .active{
                display:block;
            }
        }
    }
}

.nav > .contain{
    height: 120px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: $navColor;
    > img{
        height: 80%;
        margin-right: 30px;
    }
    > span{
        font-size: 36px;
        margin-left: 50px;
    }
}

.content > .contain{
    >.container{
        width: 100%;
        height: 100%;
        >img{
            width: 50%;
            height: 50%;
        }
        >span{
            position: relative;
            font-size: 30px;
            top: -230px;
            left: 700px;
        }
        >p{
            width: 100%;
            height: 120px;
            margin-bottom: 20px;
            background-color: #fff;
            position: relative;
            > img{
                height: 100%;
                width: 120px;
                margin-left: 20px;
            }
            .title{
                height: 80px;
                width: 800px;
                margin-right: 40px;
                font-size: 20px;
                position: relative;
                top: -100px;
                left: 170px;
            }
            .price{
                color: red;
                font-size: 24px;
                align-self: flex-end;
                position: absolute;
                right: 0;
                top: 50%;
            }
        }
    }
}
.clear{
    width: 200px;
    height: 100px;
    position: relative;
    display: none;
    left: 1000px;
    font-size: 30px;
    border-radius: 10px;
}